table {
  width: 100%;

  .mat-row {
    &:hover {
      background-color: #dddddd;
    }

    &:nth-child(odd) {
      background-color: #ffffcc;

      &:hover {
        background-color: #ddddaa;
      }
    }
  }
}

.flight-number {
  width: 100px;
}

.launch-year {
  width: 100px;
}

.rocket-name {
  width: 150px;
}
