<!--
[Angular] Using this SpaceX API, create an Angular application that shows a list
of SpaceX launches in a sortable (by launch order) grid. The user should be able
to page through the results. The columns of the grid should be Flight Number,
Launch Year, Rocket Name, and Details. For a given launch, the user should be
able to click on the row to navigate to the presskit for that launch using the
url provided in the API response.
-->
<h1>SpaceX Launches</h1>

<table mat-table [dataSource]="launchData$"
    matSort matSortDisableClear="true" [matSortActive]="sortActive" [matSortDirection]="sortDirection" (matSortChange)="changeSort($event)">
  <ng-container matColumnDef="flight_number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="flight_number" class="flight-number">Flight Number</th>
    <td mat-cell *matCellDef="let element;">{{ element.flight_number }}</td>
  </ng-container>

  <ng-container matColumnDef="launch_year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="launch_year" class="launch-year">Launch Year</th>
    <td mat-cell *matCellDef="let element;">{{ element.launch_year }}</td>
  </ng-container>

  <ng-container matColumnDef="rocket_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="rocket_name" class="rocket-name">Rocket Name</th>
    <td mat-cell *matCellDef="let element;">{{ element.rocket.rocket_name }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="details">Details</th>
    <td mat-cell *matCellDef="let element;">{{ element.details }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row.flight_number)"></tr>
</table>

<mat-paginator [length]="numLaunches$ | async"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="changePage($event)"
></mat-paginator>
