<h1>
  {{ launchInfo?.mission_name }}
  <ng-container *ngIf="launchInfo?.flight_number as flightNumber;">
    (Flight number {{ flightNumber }})
  </ng-container>
</h1>

<button mat-button (click)="goBack()">Return to List</button>

<iframe *ngIf="pressKitUrl; else noPressKitFound" [src]="pressKitUrl"></iframe>

<ng-template #noPressKitFound>
  <div class="informational-message">
    No press kit found for this launch.
  </div>
</ng-template>
