$iframeTop: 150px;

.informational-message {
  font-style: italic;
  margin: 32px 16px;
}

iframe {
  height: calc(100% - #{$iframeTop} - 5px); // 5px is to prevent side scroller on whole page
  width: 100%;
  position: absolute;
  top: $iframeTop;
  bottom: 0;
  left: 0;
  right: 0;
}
